<%- include ("./partials/head") %>
<a class="return" href="#">Terug</a>
<h1>Kies uw SGD's</h1>
<h2>Kies minimaal 3 SDG's aub</h2>

<main>
    <form action="/" method="POST">
        <ul>
<% sdgs.forEach(sdg => { %>
        <li>
            <label>
                <input class="choose" type="checkbox" name="<%= sdg.title %>" value="<%= sdg.id %>">
                <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.id %>. <%= sdg.title %>">
            </label>
        </li>
<% }); %>
        </ul>
        <input class="submitBtn" type="submit" value="Verder">
    </form>
</main>

<%- include ("./partials/foot") %>